<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Se ha agegado una nueva entrada a la base de datos info_familia.db</h1>

    <h3><p style="color:black">Datos de la persona:</p></h3>
    <h3><p style="color:black">    Nombres y apelidos:  {{ nombres }} {{ apellidos }}</p></h3>
    <h3><p style="color:black">    Fecha de nacimiento: {{ fechaNacimiento }}</p></h3>
    <h3><p style="color:black">    DNI:                 {{ DNI }}</p></h3>
    
    <h3><p style="color:blue">Datos de la madre:</p></h3>
    <h3><p style="color:blue">    Nombres y apelidos:  {{ nombres_madre }} {{ apellidos_madre }}</p></h3>
    
    <h3><p style="color:red">Datos del padre:</p></h3>
    <h3><p style="color:red">    Nombres y apelidos:  {{ nombres_padre }} {{ apellidos_padre }}</p></h3>
</body>
</html>